{% extends "home.html" %}

{% block content %}
<section id="rstracker">
    <section id="rstracker-content">
        {% for key, data in userdata.items() %} 
        {% include 'playerinfo.html' %}
        {% endfor %}
        <text class="graph-container">
            {{ div | safe }}
        </text>
    </section>
</section>
<form id="lookup-form" method="post" action="/lookup" style="visibility: hidden; width: 0px; height: 0px;">
    <input style="visibility: hidden; width: 10px;" id="lookup-form-username-field" name="username">
    <input style="visibility: hidden; width: 10px;" id="lookup-form-skill-field" name="skill">
</form>
<!-- form for 2nd player, to compare against -->
<!-- this seems kinda stupid -->
<form id="lookup-form2" method="post" action="/lookup2" style="visibility: hidden; width: 0px; height: 0px;">
    <input style="visibility: hidden; width: 10px;" id="lookup-form-username-field1" name="username">
    <input style="visibility: hidden; width: 10px;" id="lookup-form-skill-field1" name="skill">
    <input style="visibility: hidden; width: 10px;" id="lookup-form-username-field2" name="username2">
    <input style="visibility: hidden; width: 10px;" id="lookup-form-skill-field2" name="skill2">
</form>
{% endblock %}