<div class="player-panel rstracker-light-panel">
    <div class="player-panel-info-wrapper">
        {% if data %}
        <img class="player-panel-avatar" src="https://services.runescape.com/m=avatar-rs/{{ data.hiscores.username }}/chat.png">
        {% endif %}
        <div class="player-panel-info">
            {% if data %}
            <label>
                username:
                <input 
                    id="{{key}}-textbox" name="player" label="Player" style="width: 12em;" value='{{ data.hiscores.username }}' onkeydown="
                        if(event.key==='Enter') {
                            lookup(
                                document.getElementById('user1-textbox').value, 
                                '{{userdata.user1.tracked_skill}}' != '' ? '{{userdata.user1.tracked_skill}}' : '0', 
                                document.getElementById('user2-textbox').value, 
                                '{{userdata.user2.tracked_skill}}' != '' ? '{{userdata.user2.tracked_skill}}' : '0')
                        }"
                ></input>
            </label>
            <label>account_type: {{ data.hiscores.account_type.value }}</label>
            <label>total lvl: {{ data.hiscores.skills['overall'].level }}</label>
            <label>total exp: {{ data.hiscores.skills['overall'].experience | num_to_comma_string }}</label>
            {% else %}
            <label>username:</label>
            <input 
                id="{{key}}-textbox" name="player" label="Player" onkeydown="
                    if(event.key==='Enter') {
                        lookup(
                            document.getElementById('user1-textbox').value, 
                            '{{userdata.user1.tracked_skill}}' != '' ? '{{userdata.user1.tracked_skill}}' : '0', 
                            document.getElementById('user2-textbox').value, 
                            '{{userdata.user2.tracked_skill}}' != '' ? '{{userdata.user2.tracked_skill}}' : '0')
                    }"
            ></input>
            <label><strong>No user selected!</strong></label>
            <label><strong>Please enter the player's RSN above.</strong></label>
            {% endif %}
        </div>
    </div>
    <div class="skillset">
    {% for s in [1,4,15,3,17,14,2,16,11,5,18,8,6,13,12,7,10,9,21,19,20,23,22,24,25,26,27,28,29,0] %}
        {% if data %}
        <div class="skillset-element" onclick="
            if ('{{key}}' == 'user1') {
                lookup('{{userdata.user1.username}}', '{{s}}', '{{userdata.user2.username}}', '{{userdata.user2.tracked_skill}}'); 
            } else {
                lookup('{{userdata.user1.username}}', '{{userdata.user1.tracked_skill}}', '{{userdata.user2.username}}', '{{s}}'); 
            }
        ">
            <div class="skillset-element-top">
                <img class="skillset-icon" src="{{ s | skill_icon_url }}" alt="{{ s | skill_alt_text }}">
                <label class="skillset-text-large">{{ data.hiscores | level(s) }}/{{ s | max_level }}</label>
            </div>
            <div class="skillset-element-bottom">
                <label class="skillset-text-small"><strong>Exp:  </strong>{{ data.hiscores | experience(s) | num_to_comma_string }}</label>
                <label class="skillset-text-small"><strong>Rank: </strong>{{ data.hiscores | rank(s) | num_to_comma_string }}</label>
            </div>
        </div>
        {% else %}
        <div class="skillset-element">
            <div class="skillset-element-top">
                <img class="skillset-icon" src="{{ s | skill_icon_url }}" alt="{{ s | skill_alt_text }}">
                <label class="skillset-text-large">-1/{{ s | max_level }}</label>
            </div>
            <div class="skillset-element-bottom">
                <label class="skillset-text-small"><strong>Exp: </strong>-1</label>
                <label class="skillset-text-small"><strong>Rank: </strong>-1</label>
            </div>
        </div> 
        {% endif %}
    {% endfor %}
    </div>
</div>