<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-3.3.0.min.js"></script>
    {{ script | safe }}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/output.css')}}">
    <title>rstracker</title>
</head>

<body class="min-h-screen bg-white dark:bg-black dark:text-white font-sans" onload="
        document.getElementById('username1').value = '{{ players[0].username if players[0] else '' }}';
        document.getElementById('username2').value = '{{ players[1].username if players[1] else '' }}';
        document.getElementById('skill1').value = '{{ players[0].tracked_skill if players[0] else '0' }}';
        document.getElementById('skill2').value = '{{ players[1].tracked_skill if players[1] else '0' }}';
        document.getElementById('timescale').value = '{{ timescale }}';                        
">
    <header class="bg-amber-600 text-white sticky top-0 z-10">
        <section class="max-w-7xl mx-auto p-2 flex justify-between items-center">
            <h1 class="text-3xl">
                📈rstracker
            </h1> 
            <span class="flex flex-row">
                <form id="user-info-form" method="post" action="/lookup">
                    <input type="submit" class="hidden">
                    <input id="timescale" class="hidden" name="timescale" type="text" value='{{ timescale  }}'/>
                    <input id="username1" class="rounded bg-white text-black dark:bg-black dark:text-white px-2" name="username1" type="text" placeholder="username 1"/>
                    <input id="skill1" class="hidden" name="skill1" type="text" value="0"/>
                    <input id="username2" class="rounded bg-white text-black dark:bg-black dark:text-white px-2" name="username2" type="text" placeholder="username 2"/>
                    <input id="skill2" class="hidden" name="skill2" type="text" value="0"/>
                </form>
                
                <div class="relative">
                    <button class="px-2 hover:cursor-pointer hover:bg-amber-800 group">
                        Change Timescale
                        <div id="dropdownmenu" class="absolute left-0 top-[calc(100%+.25rem)] bg-amber-800 hover:bg-amber-700 p-3 shadow shadow-amber-200 rounded opacity-0 group-focus:opacity-100 transition-opacity">
                            <ul>
                                <li onclick="
                                    document.getElementById('timescale').value = 'last_update'; 
                                    document.getElementById('user-info-form').submit()
                                ">Last Update</li>
                                <li onclick="
                                    document.getElementById('timescale').value = 'daily'; 
                                    document.getElementById('user-info-form').submit()
                                ">Daily</li>
                                <li onclick="
                                    document.getElementById('timescale').value = 'weekly'; 
                                    document.getElementById('user-info-form').submit()
                                ">Weekly</li>
                                <li onclick="
                                    document.getElementById('timescale').value = 'last_update'; 
                                    document.getElementById('user-info-form').submit()
                                ">Last Update</li>
                                <li onclick="
                                    document.getElementById('timescale').value = 'last_update'; 
                                    document.getElementById('user-info-form').submit()
                                ">Last Update</li>
                            </ul>
                        </div>
                    </button>
                </div>
            </span>
        </section>
    </header>
    
    <section id="player-stats" class="max-w-7xl mx-auto my-4 flex flex-row justify-between items-center">
        {% for player in players %}
        <section class="flex flex-col items-center">
            <div class="flex flex-row">
                <img class="w-16 h-16" src="https://services.runescape.com/m=avatar-rs/{{ player.username }}/chat.png" alt="">
                <div class="flex flex-col">
                    {% if player.account_type == 'ironman' %}
                        <label title="ironman">🔧 {{ player.username }}</label>
                    {% elif player.account_type == 'hardcore_ironman' %}
                        <label title="hardcore ironman">🍅 {{ player.username }}</label>
                    {% else %}
                        <label title="normal">{{ player.username }}</label>
                    {% endif %}
                    <label title="total level">{{ player.data_points[-1].data.skills['overall'].level }}</label>
                    <label title="total level">{{ player.data_points[-1].data.skills['overall'].level }}<strong> total</strong></label>
                    <label title="total exp">{{ player.data_points[-1].data.skills['overall'].experience | num_to_comma_string }}<strong> xp</strong></label>
                </div>
            </div>

            <div class="flex flex-row flex-wrap justify-center">
                {% for s in [1,4,15,3,17,14,2,16,11,5,18,8,6,13,12,7,10,9,21,19,20,23,22,24,25,26,27,28,29,0] %}
                <div class="w-24 p-1 border
                {% if player.index == 1 and s == players[0].tracked_skill or player.index == 2 and s == players[1].tracked_skill %}
                text-black bg-amber-500 border-amber-600 dark:text-white dark:bg-amber-800 dark:border-amber-700
                {% else %}
                text-black bg-gray-300 border-gray-400 hover:bg-gray-200 hover:border-gray-300 
                dark:text-white dark:bg-gray-800 dark:border-gray-900 hover:dark:bg-gray-700 hover:dark:border-gray-800 
                hover:cursor-pointer hover:scale-110
                {% endif %}
                "
                onclick="
                    if ('{{ player.index }}' == 1) {
                        document.getElementById('skill1').value = '{{ s }}';
                    } else {
                        document.getElementById('skill2').value = '{{ s }}';
                    }
                    document.getElementById('user-info-form').submit();"
                >

                    <div class="flex flex-col hover:cursor-pointer">
                        <div class="flex flex-row justify-around items-center hover:cursor-pointer">
                            <img class="w-6 h-6 hover:cursor-pointer" src="{{ s | skill_icon_url }}" alt="{{ s | skill_alt_text }}">
                            <label class="text-lg -translate-y-1 hover:cursor-pointer">{{ player.data_points[-1].data | level(s) }}</label>
                        </div>
                        <label class="text-xs hover:cursor-pointer">{{ player.data_points[-1].data | experience(s) | num_to_comma_string }}<strong> xp</strong></label>
                        <label class="text-xs hover:cursor-pointer"><strong>rank </strong>{{ player.data_points[-1].data | rank(s) | num_to_comma_string }}</label>
                        {% if timescale == 'last_update' %}
                            {% set expdiff = player | diff_last_update(s) %}
                        {% elif timescale == 'daily' %}
                            {% set expdiff = player | diff_daily(s) %}
                        {% elif timescale == 'weekly' %}
                            {% set expdiff = player | diff_weekly(s) %}
                        {% endif %}
                        {% if expdiff > 0 %}
                            <label class="text-xs hover:cursor-pointer text-green-900 dark:text-green-600">+{{ expdiff | num_to_comma_string }}<strong> xp</strong></label>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        {% endfor %}
    </section>
    
    <section id="skill-graph" class="max-w-7xl mx-auto mt-8">
        <text>
            {{ div | safe }}
        </text>
    </section>
</body>
</html>
jinja if array subscript exists